////////////////////////////////// MENU //////////////////////////////////

.menu-wrapper {
  .meal {
    border: solid 1px $color-gray-normal;
    border-radius: $bradius;
  }


  img {
    width: 100%;
  }
}
